@import '../../scss/variables.scss';
body{
    color:#fff
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

.app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color:inherit
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #000
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba($primary-color, 0.3);
  }