@import '../../scss/variables.scss';


.text{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 20px;

    font-family: 'Winter Kei', sans-serif;
    color: $color-text;
    
    @media (max-width:1100px) {
        font-size: 45px;
        
    }
    @media (max-width:900px) {
        font-size: 40px;
        
    }
    @media (max-width:830px) {
        font-size: 35px;
        
    }
    @media (max-width:750px) {
        font-size: 30px;
        
    }
    @media (max-width:660px) {
        font-size: 25px;
        
    }
    @media (max-width:480px) {
        font-size: 20px;
    }
    @media (max-width:400px) {
        margin-top: 140px;
        font-size: 15px;
    }

    span{
        color: $primary-color;
        font-weight: 700;
    }
}

.welcome{
    display: flex;
    width: 100%;
    // flex-grow: 1;
}

.scroller{
    position: relative;
    &__wrapper{
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        height: 50px;
        width: 30px;
        border: 2px #6b6b6b solid;
        border-radius: 15px;
        background-color: $primary-color;
}

    &__point{
        position: absolute;
        left: 50%;
        top:5px;
        width: 7px;
        height: 7px;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: #949494;
        animation: point 3s infinite;
    }

    @keyframes point {
        0%{top:2px}
        70%{top:15px}
        100%{top:2px}
    }

    &__arrows{
        position: absolute;
        bottom:-90%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__arrow{
        width: 15px;
        height: 15px;
        border-bottom: 2px #949494 solid;
        border-right: 2px #949494 solid;
        transform: rotate(45deg);
        animation: arrow 3s infinite;
    }

    @keyframes arrow {
        0%{transform: rotate(45deg) translate3d(-10%, -10%, 0);}
        30%{transform: rotate(45deg) translate3d(10%, 10%, 0); opacity: 0.3;}
        100%{transform: rotate(45deg) translate3d(-10%, -10%, 0);}
    }
}

