@import '../../scss/variables.scss';


.header{
    
    font-family: 'Unfinished Sympathy', sans-serif;
    display: flex;
    max-width: 1300px;
    margin: 20px auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    width: calc(100% - 50px);
    @media (max-width:550px) {
        &{font-size: 16px;}
    }
}
.menu{
    display: flex;
    gap: 50px;

    @media (max-width:550px) {
        &{gap:20px}
    }
}
.link{
    position: relative;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s;
    padding: 5px;

    & span{
        left:0;
        top:0;
        transition: all 0.6s;
        color: $primary-color;
    }

    
    &:hover span{
        transform: translate3d(-150%,0,0);       
    }
  
    &::after{
        content: attr(data-text);
        position: absolute;
        padding: 5px;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(150%,0,0);
        transition: transform 0.6s;
        overflow: hidden;
        color: $color-text;
    }
    &:hover::after{
        transform: translate3d(0,0,0);
        transform-origin: left;
        
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 3px;
        background-color: $secondary-color;
        transform: scale3d(0,1,1);
        transform-origin: right;
        transition: transform 0.6s;
    }
    &:hover::before{
        transform: scale3d(1,1,1);
        transform-origin: left;
    }
}
.contact{
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 100%, 75% 100%, 47% 100%, 0 100%);
    transition-duration: 0.6s, 0.6s, .3s;
    transition-delay: 0.4s, 0.4s, 0s;
    transition-property: clip-path, padding, color;
    color:$color-text;
    font-family: 'Bolandes', sans-serif;
    &:hover{
        color:rgb(22, 22, 22);
        padding: 10px 20px 20px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        @media (max-width:550px) {
            &{padding: 2px 10px 10px;}
        }
    }
    &::before{
        content: '';
        position: absolute;
        z-index: -1;
        background-color:  $primary-color;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        transform: scale3d(0,1,1);
        transition: transform 0.2s;
    }
    &:hover::before{
        transform: scale3d(1,1,1);
        transform-origin: left;
    }


    @media (max-width:550px) {
        &{padding: 10px;}
    }
}