$primary-color:rgb(130, 41, 41);
$secondary-color: #183153;
$color-text: #244e89;

// FONTS
@import url('http://fonts.cdnfonts.com/css/bolandes');
@import url('http://fonts.cdnfonts.com/css/unfinished-sympathy');
@import url('http://fonts.cdnfonts.com/css/winter-kei');